.list-links {
    list-style: none;
    margin: 0;
    padding: 1px 0; /* Paddings matter for clearfix in IE 5.  */
}

.list-links__item {
    position: relative;
    display: block;
    float: left;
}

.list-links__link {
    display: block;
    padding: 8px;
}

@supports (display: flex) {
    .list-links {
        display: flex;
        flex-wrap: wrap;
    }

    .list-links.clearfix::before,
    .list-links.clearfix::after {
        content: none;
    }
}