.state {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.state-blocks {
    width: 100%;
    display: flex;
    background-color: #F8F8F8;
    flex-wrap: wrap;
}

.copy {
    display: flex;
}

.copy pre {
    display: none;
}

.state-block {
    position: relative;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 64px 0;
}

.state-block p {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.button {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    font-style: normal;
    line-height: 120%;
    text-decoration: none;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-radius: 8px;
    cursor: pointer;
}

.button:disabled,
.button:hover:disabled,
.button:active:disabled {
    color: #cccccc;
    background-color: #f3f2f1;
    border-color: #f3f2f1;
    cursor: default;
}

.button-google {
    width: 100%;
    height: 44px;
    padding: 0;
    border-color: #f8f8fa;
    background-color: #f8f8fa;
    background-image: url("../../img/buttons/google-icon.svg");
    background-size: 28px 28px;
    background-position: center;
    background-repeat: no-repeat;
}

.button-google:hover {
    border-color: #d7d7d7;
    background-color: #d7d7d7;
}

.button-google:disabled {
    background-image: url("../../img/buttons/google-icon-disabled.svg");
}

.button-google:focus {
    border-color: #f8f8fa;
    background-color: #f8f8fa;
    box-shadow: 0 0 0 2px #f8f8fa inset, 0 0 0 3px #9a9999 inset;
    outline: none;
}

.button-google:focus:not(:focus-visible) {
    box-shadow: none;
    outline: none;
}

.button-google:focus-visible {
    border-color: #f8f8fa;
    background-color: #f8f8fa;
    box-shadow: 0 0 0 2px #f8f8fa inset, 0 0 0 3px #9a9999 inset;
    outline: none;
}

.button-google:active {
    border-color: #1e1c3c;
    background-color: #1e1c3c;
}

.button-submit {
    padding: 10px 20px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    background-color: #06881b;
    border-color: #06881b;
}

.button-submit:hover,
.button-submit.hover {
    color: #ffffff;
    background-color: #096417;
    border-color: #096417;
}

.button-submit:focus,
.button-submit.focus {
    color: #ffffff;
    background-color: #06881b;
    border-color: #06881b;
    box-shadow: 0 0 0 2px #06881b inset, 0 0 0 3px #ffffff inset;
    outline: none;
}

.button-submit:disabled,
.button-submit:hover:disabled,
.button-submit:active:disabled,
.button-submit.disabled {
    color: #cccccc;
    background-color: #f3f2f1;
    border-color: #f3f2f1;
    cursor: default;
}

.button-submit:focus:not(:focus-visible) {
    box-shadow: none;
    outline: none;
}

.button-submit:focus-visible {
    color: #ffffff;
    background-color: #06881b;
    border-color: #06881b;
    box-shadow: 0 0 0 2px #06881b inset, 0 0 0 3px #ffffff inset;
    outline: none;
}

.button-submit:active,
.button-submit.active {
    color: #ffffff;
    background-color: #12451a;
    border-color: #12451a;
}

.button-grey {
    width: auto;
    padding: 10px 20px;
    min-width: 180px;
    font-size: 16px;
    background-color: #f9f9f9;
    border-color: #d0cbcb;
}

.button-grey:hover {
    background-color: #d7d7d7;
    border-color: #d7d7d7;
}

.button-grey:focus {
    background-color: #f9f9f9;
    border-color: #d0cbcb;
    box-shadow: 0 0 0 2px #f9f9f9 inset, 0 0 0 3px #9a9999 inset;
    outline: none;
}

.button-grey:focus:not(:focus-visible) {
    box-shadow: none;
    outline: none;
}

.button-grey:focus-visible {
    background-color: #f9f9f9;
    border-color: #d0cbcb;
    box-shadow: 0 0 0 2px #f9f9f9 inset, 0 0 0 3px #9a9999 inset;
    outline: none;
}

.button-grey:active {
    color: #ffffff;
    background-color: #9a9999;
    border-color: #9a9999;
}

.button-grey--action,
.button-grey--action {
    color: #292b2d;
}

.button-tablet {
    padding: 5px 20px;
    min-width: 100px;
    width: auto;
    font-size: 15px;
    line-height: 125%;
    border-radius: 5px;
}

.button-tablet--white {
    color: #1e1c3c;
    background-color: #ffffff;
    border-color: #a5a4b1;
}

.button-tablet--white:hover {
    color: #ffffff;
    background-color: #4b4963;
    border-color: #4b4963;
}

.button-tablet--white:focus {
    color: #1e1c3c;
    background-color: #ffffff;
    border-color: #a5a4b1;
    box-shadow: 0 0 0 1px #ffffff inset, 0 0 0 2px #1e1c3c inset;
    outline: none;
}

.button-tablet--white:focus:not(:focus-visible) {
    box-shadow: none;
    outline: none;
}

.button-tablet--white:focus-visible {
    color: #1e1c3c;
    background-color: #ffffff;
    border-color: #a5a4b1;
    box-shadow: 0 0 0 1px #ffffff inset, 0 0 0 2px #1e1c3c inset;
    outline: none;
}

.button-tablet--white:active {
    color: #ffffff;
    background-color: #1e1c3c;
    border-color: #1e1c3c;
}

.cancel-button {
    box-sizing: border-box;
    display: block;
    width: 32px;
    height: 32px;
    padding: 0;
    margin: 0;
    background-size: 16px 16px;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid transparent;
    cursor: pointer;
}

.cancel-button--light {
    background-color: #ffffff;
    background-image: url("../../img/buttons/cancel.svg");
}

.cancel-button--light:hover {
    background-color: #f3f2f1;
}

.cancel-button--light:disabled {
    background-image: url("../../img/buttons/cancel-disabled.svg");
    background-color: #e5e5e5;
}

.cancel-button--light:focus {
    border-color: #000000;
    outline: none;
}

.cancel-button--light:focus:not(:focus-visible) {
    border-color: transparent;
    outline: none;
}

.cancel-button--light:focus-visible {
    border-color: #000000;
    outline: none;
}

.cancel-button--light:active {
    background-image: url("../../img/buttons/cancel-white.svg");
    background-color: #9a9999;
}

.cancel-button--dark {
    background-color: #1e1c3c;
    background-image: url("../../img/buttons/cancel-white.svg");
}

.cancel-button--dark:hover {
    background-color: rgba(102, 102, 102, 0.8);
}

.cancel-button--dark:disabled {
    background-image: url("../../img/buttons/cancel-disabled.svg");
    background-color: #e5e5e5;
}

.cancel-button--dark:focus {
    border-color: #FFFFFF;
    outline: none;
}

.cancel-button--dark:focus:not(:focus-visible) {
    border-color: transparent;
    outline: none;
}

.cancel-button--dark:focus-visible {
    border-color: #FFFFFF;
    outline: none;
}

.cancel-button--dark:active {
    background-image: url("../../img/buttons/cancel-white.svg");
    background-color: #9a9999;
}

.pagination-link {
    width: 26px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}

.pagination-link a,
.pagination-link button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 22px;
    height: 32px;
    padding: 0;
    color: #000000;
    text-decoration: none;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 1px;
    cursor: pointer;
}

.pagination-link__text {
    position: relative;
}

.pagination-link a:hover,
.pagination-link button:hover {
    background-color: #f3f2f1;
    border-color: #f3f2f1;
}

.pagination-link button:disabled {
    color: #cccccc;
    cursor: default;
}

.pagination-link button:disabled:hover {
    background-color: transparent;
    border-color: transparent;
}

.pagination-link a:focus,
.pagination-link button:focus {
    border-color: #000000;
    outline: none;
}

.pagination-link a:focus:not(:focus-visible),
.pagination-link button:focus:not(:focus-visible) {
    border-color: transparent;
    outline: none;
}

.pagination-link a:focus-visible,
.pagination-link button:focus-visible {
    border-color: #000000;
    outline: none;
}

.pagination-link a:active,
.pagination-link button:active,
.pagination-link--current a,
.pagination-link--current button {
    font-size: 20px;
    font-weight: 500;
}

.pagination-link a:active .pagination-link__text::after,
.pagination-link button:active .pagination-link__text::after,
.pagination-link--current .pagination-link__text::after,
.pagination-link--current .pagination-link__text::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 1px;
    background: #ef4036;
    border-radius: 10px;
}

.dropdown-button {
    width: 32px;
    height: 32px;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid transparent;
    border-radius: 1px;
    background-size: 16px 16px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.dropdown-button--light {
    background-color: transparent;
    background-image: url("../../img/buttons/dropdown.svg");
}

.dropdown-button--light:hover {
    background-color: #f3f2f1;
}

.dropdown-button--light:disabled {
    background-color: #f3f2f1;
    background-image: url("../../img/buttons/dropdown-disabled.svg");
}

.dropdown-button--light:focus {
    border-color: #000000;
    outline: none;
}

.dropdown-button--light:focus:not(:focus-visible) {
    border-color: transparent;
    outline: none;
}

.dropdown-button--light:focus-visible {
    border-color: #000000;
    outline: none;
}

.dropdown-button--light:active {
    background-color: #9a9999;
    background-image: url("../../img/buttons/dropdown-white.svg");
}

.dropdown-button--dark {
    background-color: #1e1c3c;
    background-image: url("../../img/buttons/dropdown-white.svg");
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: center;
}

.dropdown-button--dark:hover {
    background: rgba(102, 102, 102, 0.8);
    background-image: url("../../img/buttons/dropdown-white.svg");
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: center;
}

.dropdown-button--dark:disabled {
    background-color: #f3f2f1;
    background-image: url("../../img/buttons/dropdown-disabled.svg");
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: center;
}

.dropdown-button--dark:focus {
    border-color: #ffffff;
    outline: none;
}

.dropdown-button--dark:focus:not(:focus-visible) {
    border-color: transparent;
    outline: none;
}

.dropdown-button--dark:focus-visible {
    border-color: #ffffff;
    outline: none;
}

.dropdown-button--dark:active {
    background-color: #9a9999;
    background-image: url("../../img/buttons/dropdown-white.svg");
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: center;
}

.block-link {
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 15px;
    font-size: 18px;
    color: #000000;
    text-align: left;
    background-color: transparent;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 1px;
    cursor: pointer;
}

.block-link:hover {
    color: #000000;
    background-color: #F2F2F2;
    border-color: #F2F2F2;
}

.block-link:disabled {
    cursor: default;
    color: #cccccc;
    background-color: #e5e5e5;
    border-color: #e5e5e5;
}

.block-link:disabled:hover {
    color: #cccccc;
    background-color: #e5e5e5;
    border-color: #e5e5e5;
}

.block-link:focus{
    color: #000000;
    background-color: #ffffff;
    border-color: #9a9999;
    outline: none;
}

.block-link:focus:not(:focus-visible) {
    background-color: transparent;
    border-color: transparent;
    outline: none;
}

.block-link:focus-visible {
    color: #000000;
    background-color: #ffffff;
    border-color: #9a9999;
    outline: none;
}

.block-link:active,
.block-link:hover:active {
    color: #FFFFFF;
    background-color: #9A9999;
    border-color: #9A9999;
}

.navigation-link {
    position: relative;
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-bottom: 7px;
}

.navigation-link a {
    display: block;
    padding: 1px;
    font-size: 15px;
    color: #000000;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 1px;
}

.navigation-link a::after {
    transition: all 0.2s ease-in-out;
}

.navigation-link a:hover::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 50%;
    height: 2px;
    background-color: #ef4036;
    border-radius: 10px;
}

.navigation-link a:focus{
    outline: none;
    border-color: #1e1c3c;
}

.navigation-link a:focus:not(:focus-visible) {
    border-color: transparent;
    outline: none;
}

.navigation-link a:focus-visible {
    outline: none;
    border-color: #1e1c3c;
}

.navigation-link a:active,
.navigation-link--current a {
    font-weight: 500;
}

.navigation-link a:active::after,
.navigation-link--current a::after {
    left: 50%;
    transform: translateX(-50%);
}

.red-link {
    display: inline-block;
    padding: 1px;
    font-size: 20px;
    line-height: 120%;
    color: #ef4036;
    text-decoration: none;
    cursor: pointer;
    border-radius: 1px;
    border: 1px solid transparent;
    background-color: transparent;
}

.red-link:hover {
    color: #cf241a;
    text-decoration: underline;
}

.red-link:focus{
    text-decoration: underline;
    border-color: #1e1c3c;
    outline: none;
}

.red-link:focus:not(:focus-visible) {
    border-color: transparent;
    text-decoration: none;
    outline: none;
}

.red-link:focus-visible {
    text-decoration: underline;
    border-color: #1e1c3c;
    outline: none;
}

.red-link:active {
    color: #1e1c3c;
    text-decoration: none;
}

.next-link {
    display: inline-block;
    width: auto;
    min-width: 185px;
}

.next-link a,
.next-link button {
    display: block;
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 9px 15px;
    font-size: 14px;
    text-decoration: none;
    color: #000000;
    cursor: pointer;
    background-color: #ffffff;
    background-image: url("../../img/buttons/arrow-right-grey.svg");
    background-size: 10px 10px;
    background-position: center right 15px;
    background-repeat: no-repeat;
    border: 1px solid transparent;
}

.next-link a:hover,
.next-link button:hover {
    background-color: #f2f2f2;
    border-color: #f2f2f2;
}

.next-link button:disabled {
    color: #cccccc;
    background-color: #f3f2f1;
    cursor: default;
}

.next-link button:focus,
.next-link a:focus {
    color: #000000;
    background-color: #ffffff;
    border-color: #9a9999;
    outline: none;
}

.next-link button:focus:not(:focus-visible),
.next-link a:focus:not(:focus-visible) {
    border-color: transparent;
    outline: none;
}

.next-link button:focus-visible,
.next-link a:focus-visible {
    color: #000000;
    background-color: #ffffff;
    border-color: #9a9999;
    outline: none;
}

.next-link a:active,
.next-link button:active {
    color: #ffffff;
    background-color: #9a9999;
    border-color: #9a9999;
    background-image: url("../../img/buttons/arrow-right-white.svg");
}

.burger__button {
    width: 32px;
    height: 32px;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid transparent;
    background-color: transparent;
    background-size: 16px 16px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}
  
.burger__button--light {
    background-image: url("../../img/buttons/burger-black.svg");
}
  
.burger__button--light:hover {
    background-color: #F3F2F1;
}
  
.burger__button--light:disabled {
    background-color: #F3F2F1;
    border-color: #F3F2F1;
    background-image: url("../../img/buttons/burger-disabled.svg");
}

.burger__button--light:focus {
    border-color: #000000;
    outline: none;
}

.burger__button--light:focus:not(:focus-visible) {
    border-color: transparent;
    outline: none;
}

.burger__button--light:focus-visible {
    border-color: #000000;
    outline: none;
}

.burger__button--light:active {
    background-image: url("../../img/buttons/burger-white.svg");
    background-color: #9A9999;
}
  
.burger__button--dark {
    background-color: #1E1C3C;
    background-image: url("../../img/buttons/burger-white.svg");
}
  
.burger__button--dark:hover {
    background-color: rgba(102, 102, 102, 0.8);;
}
    
.burger__button--dark:disabled {
    background-color: #F3F2F1;
    border-color: #F3F2F1;
    background-image: url("../../img/buttons//burger-disabled.svg");
}

.burger__button--dark:focus {
    border-color: #FFFFFF;
    outline: none;
}

.burger__button--dark:focus:not(:focus-visible) {
    border-color: transparent;
    outline: none;
}

.burger__button--dark:focus-visible {
    border-color: #FFFFFF;
    outline: none;
}

.burger__button--dark:active {
    background-image: url("../../img/buttons/burger-white.svg");
    background-color: #9A9999;
}