---
  title: We make apps!
  layout: layouts/index.njk
---

<div class="section hero page-secondary page-team">
  <section>
    <div class="hero__inner">
      <div class="hero__content">
        <h1 class="text-white">
          {{ 'title_4' | i18n }}
        </h1>
        <div class="breadcrumb">
          <nav aria-label="Breadcrumb">
            <ol class="breadcrumb__list clearfix">
              <li class="breadcrumb__item">
                <a class="breadcrumb__link nav-link" href="/{{ locale }}/">
                  {{ 'home' | i18n }}
                </a>
              </li>
              <!-- TODO: Is the href attribute necessary for the last link? -->
              <li class="breadcrumb__item">
                <span class="elementor-icon-list-icon ">
                  <i aria-hidden="true" class="fas fa-chevron-right"></i>
                </span>
                <a class="breadcrumb__link nav-link" href="/{{ locale }}/clients/" aria-current="page">
                  {{ 'clients' | i18n }}
                </a>
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>
</div>
<div class="section our-customers">
  <div class="container">
    <section>
      <div class="our-customers__inner">
        <div class="spacer-50"></div>
        <div class="spacer-20"></div>
        <div class="spacer-20"></div>
        <h2 class="text-center subtitle">
          Our Clients
        </h2>
        <div class="spacer-20"></div>
        <div class="spacer-20"></div>
        <div class="slick-carousel">
          <div class="dimensional-container">
            <div class="our-customers__logo-outer">
              <div class="our-customers__logo">
                <img src="{{ site.url }}/assets/img/customer-logo_1.svg" width="96" height="28" alt="Alt">
              </div>
            </div>
          </div> 
          <div class="dimensional-container">
            <div class="our-customers__logo-outer">
              <div class="our-customers__logo">
                <img src="{{ site.url }}/assets/img/customer-logo_2.svg" width="128" height="38" alt="Alt">
              </div>
            </div>
          </div> 
          <div class="dimensional-container">
            <div class="our-customers__logo-outer">
              <div class="our-customers__logo">
                <img src="{{ site.url }}/assets/img/customer-logo_3.png" width="255" height="51" alt="Alt">
              </div>
            </div>
          </div>
          <div class="dimensional-container">
            <div class="our-customers__logo-outer">
              <div class="our-customers__logo">
                <img src="{{ site.url }}/assets/img/customer-logo_4.png" width="236" height="70" alt="Alt">
              </div>
            </div>
          </div>
          <div class="dimensional-container">
            <div class="our-customers__logo-outer">
              <div class="our-customers__logo">
                <img src="{{ site.url }}/assets/img/customer-logo_5.png" width="192" height="69" alt="Alt">
              </div>
            </div>
          </div>
          <div class="dimensional-container">
            <div class="our-customers__logo-outer">
              <div class="our-customers__logo">
                <img src="{{ site.url }}/assets/img/customer-logo_6.png" width="70" height="70" alt="Alt">
              </div>
            </div>
          </div>
          <div class="dimensional-container">
            <div class="our-customers__logo-outer">
              <div class="our-customers__logo">
                <img src="{{ site.url }}/assets/img/customer-logo_7.png" width="255" height="67" alt="Alt">
              </div>
            </div>
          </div> 
          <div class="dimensional-container">
            <div class="our-customers__logo-outer">
              <div class="our-customers__logo">
                <img src="{{ site.url }}/assets/img/customer-logo_8.png" width="70" height="70" alt="Alt">
              </div>
            </div>
          </div>  
        </div>
        <div class="spacer-50"></div>
        <div class="spacer-20"></div>
        <div class="spacer-20"></div>
      </div>
    </section>
  </div>
</div>