<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ dir }}">

  {% include 'partials/head.njk' %}
  <body class="page">
    {% include 'partials/header.njk' %}
    <div class="main">
      <main>
        <div class="main__inner">
            {{ content | safe }}
        </div>
      </main>
    </div>
    {% include 'partials/footer.njk' %}
    {% include 'partials/scripts.njk' %}
  
  </body>
</html>