<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="" />
  <meta itemprop="description" content="" />
  <meta property="og:description" content="" />
  <meta name="twitter:description" content="" /> 
  <title>  
  </title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../../../assets/css/config.css">

  <link rel="stylesheet" href="../../../assets/css/blocks/ie5.css">
  <!--[if IE 5]>
    <link rel="stylesheet" href="../../../assets/css/blocks/ie5-fix.css">
  <![endif]-->
  <link rel="stylesheet" href="../../../assets/css/blocks/ie7.css">
  <link rel="stylesheet" href="../../../assets/css/blocks/media.css">
  <link rel="stylesheet" href="../../../assets/css/blocks/flex.css">

  <link rel="stylesheet" href="../../../assets/css/design-system/ui-kit/style.css" />

  </head>

  <body>
    <div class="main">
      <div class="container">
        <main>
          <div class="main__inner">
            <h1>Ui kit</h1>
            <h2>Buttons/links</h2>
            <h3>Text button</h3>
            <div class="dimensional-container">
              <div class="blocks-container blocks-container--nowrap blocks-container--5 clearfix">
                <div class="blocks-container__item">
                  <div class="demo-block">
                    <a class="text-button" href="#">Rest</a>
                  </div>
                </div>
                <div class="blocks-container__item">
                  <div class="demo-block">
                    <a class="text-button hover" href="#">Hover</a>
                  </div>
                </div>
                <div class="blocks-container__item">
                  <div class="demo-block">
                    <a class="text-button active" href="#">Active</a>
                  </div>
                </div>
                <div class="blocks-container__item">
                  <div class="demo-block">
                    <a class="text-button disabled" href="#">Disabled</a>
                  </div>
                </div>
                <div class="blocks-container__item">
                  <div class="demo-block">
                    <a class="text-button focus" href="#">Focus</a>
                  </div>
                </div>
              </div>
            </div>
            <h3>Text button current</h3>
            <div class="dimensional-container">
              <div class="blocks-container blocks-container--nowrap blocks-container--5 clearfix">
                <div class="blocks-container__item">
                  <div class="demo-block">
                    <a class="text-button text-button--current" href="#">Rest</a>
                  </div>
                </div>
                <div class="blocks-container__item">
                  <div class="demo-block">
                    <a class="text-button text-button--current hover" href="#">Hover</a>
                  </div>
                </div>
                <div class="blocks-container__item">
                  <div class="demo-block">
                    <a class="text-button text-button--current active" href="#">Active</a>
                  </div>
                </div>
                <div class="blocks-container__item">
                  <div class="demo-block">
                    <a class="text-button text-button--current disabled" href="#">Disabled</a>
                  </div>
                </div>
                <div class="blocks-container__item">
                  <div class="demo-block">
                    <a class="text-button text-button--current focus" href="#">Focus</a>
                  </div>
                </div>
              </div>
            </div>
            <h3>Primary button</h3>
            <div class="dimensional-container">
              <div class="blocks-container blocks-container--nowrap blocks-container--5 clearfix">
                <div class="blocks-container__item">
                  <div class="demo-block">
                    <a class="primary-button" href="#">Rest</a>
                  </div>
                </div>
                <div class="blocks-container__item">
                  <div class="demo-block">
                    <a class="primary-button hover" href="#">Hover</a>
                  </div>
                </div>
                <div class="blocks-container__item">
                  <div class="demo-block">
                    <a class="primary-button active" href="#">Disabled</a>
                  </div>
                </div>
                <div class="blocks-container__item">
                  <div class="demo-block">
                    <a class="primary-button disabled" href="#">Active</a>
                  </div>
                </div>
                <div class="blocks-container__item">
                  <div class="demo-block">
                    <a class="primary-button focus" href="#">Focus</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
  </body>
</html>
