.divider {
  width: 100%;
  height: 1px;
}

.divider--lightgrey {
  background-color: #E6E6E6;
}

.divider--footer {
  background-color: rgba(160, 170, 186, .17);
}

.spacer-5 {
  padding-top: 5px;
}

.spacer-10 {
  padding: 5px 0;
}

.spacer-20 {
  padding: 10px 0;
}

.spacer-50 {
  padding: 25px 0;
}

.spacer-100 {
  padding: 50px 0;
}


.spacer-200 {
  padding: 100px 0;
}

@media (max-width: 1023px) {
  .spacer-100 {
    padding: 35px 0;
  }

  .spacer-50 {
    padding: 15px 0;
  }
}

@media (max-width: 767px) {
  .spacer-100 {
    padding: 15px 0;
  }

  .spacer-50 {
    padding: 5px 0;
  }
}