/* body {
    margin: 0;
    font-family: "Roboto", "Arial", sans-serif;
}

.dimensional-container {
    padding: 8px;
} */

.demo-block {
    width: 100%;
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid #EDEBE9;
    text-align: center;
}

.text-button {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    text-decoration: none;
    color: #201F1E;
    padding: 6px 20px;
    border: 1px solid transparent;
    background-color: transparent;
    cursor: pointer;
}

.text-button:hover,
.text-button.hover {
    background-color: #F3F2F1;
}

.text-button:active,
.text-button.active {
    background-color: #EDEBE9;
}


.text-button:disabled,
.text-button.disabled {
    color: #A19F9D;
    cursor: default;
}

.text-button:disabled:hover {
    background-color: transparent;
}

.text-button:focus,
.text-button.focus {
    border-color: #000000;
    outline: none;
}

.text-button:focus:not(:focus-visible) {
    background-color: #EDEBE9;
    border-color: transparent;
    outline: none;
}

.text-button:focus-visible {
    border-color: #000000;
    outline: none;
}

.text-button--current {
    font-weight: 700;
}

.primary-button {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    text-decoration: none;
    color: #FFFFFF;
    padding: 6px 20px;
    border-radius: 2px;
    background-color: #0078D4;
    cursor: pointer;
}

.primary-button:hover,
.primary-button.hover {
    background-color: #106EBE;
}

.primary-button:active,
.primary-button.active {
    background-color: #005A9E;
}


.primary-button:disabled,
.primary-button.disabled {
    color: #A19F9D;
    background-color: #F3F2F1;
    cursor: default;
}

.primary-button:disabled:hover {
    background-color: transparent;
}

.primary-button:focus,
.primary-button.focus {
    outline: none;
    box-shadow:  0 0 0 2px #0078D4 inset, 0 0 0 3px #FFFFFF inset;
}

.primary-button:focus:not(:focus-visible) {
    background-color: #EDEBE9;
    border-color: transparent;
    outline: none;
}

.primary-button:focus-visible {
    border-color: #000000;
    outline: none;
}