---
  title: Index.njk
  layout: layouts/index.njk
---


<div class="section hero page-main">
  <section>
    <div class="hero__inner">
      <div class="hero__content">
        <h1 class="text-white">{{ title }}</h1>
        <h1 class="text-white">We make apps!</h1>
        <p class="hero__lead text-white">
          For startups, small businesses and corporations.
        </p>
        <div class="spacer-20"></div>
        <a class="button button--center upper primary-button" href="#about-us">Explore Us</a>
      </div>
    </div>
  </section>
</div>
<div id="about-us" class="section about-us">
  <div class="container">
    <section>
      <div class="about-us__inner">
        <div class="spacer-50"></div>
        <div class="spacer-20"></div>
        <div class="spacer-20"></div>
        <h2 class="text-center h2--color">About Us</h2>
        <div class="spacer-20"></div>
        <div class="spacer-20"></div>
        <div
          class="
            blocks-container
            blocks-container--wrap
            blocks-container--3
            clearfix
          "
        >
          <div class="blocks-container__item">
            <div class="blocks-container__item-buffer-outer">
              <div class="card">
                <div class="blocks-container__item-buffer-inner">
                  <div class="dimensional-container">
                    <div class="elementskit-info-box-icon  ">
                      <i class="ti-heart"></i>
                    </div>
                  </div>
                  <h3>Passion</h3>
                  <p>
                    We create apps because we love it, not just because we can.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="blocks-container__item">
            <div class="blocks-container__item-buffer-outer">
              <div class="card">
                <div class="blocks-container__item-buffer-inner">
                  <div class="dimensional-container">
                    <div class="elementskit-info-box-icon  ">
                      <i class="ti-thought"></i>
                  </div>
                  </div>
                  <h3>Solutions</h3>
                  <p>
                    We create solutions that move your business forward. An app should simplify the lives of your employees and/or customers, not complicate them.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="blocks-container__item">
            <div class="blocks-container__item-buffer-outer">
              <div class="card">
                <div class="blocks-container__item-buffer-inner">
                  <div class="dimensional-container">
                    <div class="elementskit-info-box-icon  ">
                      <i class="ti-cup"></i>
                  </div>
                  </div>
                  <h3>Experience</h3>
                  <p>
                    Since 2011 we have been working for various customers at home and abroad. From small startups to international corporations.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="spacer-50"></div>
        <div class="spacer-20"></div>
        <div class="spacer-10"></div>
      </div>
    </section>
  </div>
</div>
<div class="container">
  <div class="divider divider--lightgrey"></div>
</div>
<div class="section our-services">
  <div class="container">
    <section>
      <div class="our-services__inner">
        <div class="spacer-50"></div>
        <div class="spacer-20"></div>
        <div class="spacer-10"></div>
        <h2 class="text-center h2--color">Our services</h2>
        <div class="spacer-20"></div>
        <div class="spacer-20"></div>
        <div
          class="
            blocks-container
            blocks-container--wrap
            blocks-container--3
            clearfix
          "
        >
          <div class="blocks-container__item">
            <div class="blocks-container__item-buffer-outer">
              <div class="card">
                <div class="blocks-container__item-buffer-inner">
                  <div class="dimensional-container">
                    <div class="elementskit-info-box-icon  ">
                      <i class="ti-microphone"></i>
                  </div>
                  </div>
                  <h3>Consulting</h3>
                  <p>
                    You don’t really know whether and how your idea can be implemented? No problem, that’s what we are here for.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="blocks-container__item">
            <div class="blocks-container__item-buffer-outer">
              <div class="card">
                <div class="blocks-container__item-buffer-inner">
                  <div class="dimensional-container">
                    <div class="elementskit-info-box-icon  ">
                      <i class="ti-layout"></i>
                  </div>
                  </div>
                  <h3>Conception</h3>
                  <p>
                    We conceptualize your mobile app. Together with you and entirely according to your requirements and wishes.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="blocks-container__item">
            <div class="blocks-container__item-buffer-outer">
              <div class="card">
                <div class="blocks-container__item-buffer-inner">
                  <div class="dimensional-container">
                    <div class="elementskit-info-box-icon  ">
                      <i class="ti-shortcode"></i>
                  </div>
                  </div>
                  <h3>Development</h3>
                  <p>
                    We develop hybrid apps, along with the associated backend systems, using the latest technology.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="
            blocks-container
            blocks-container--wrap
            blocks-container--3
            clearfix
          "
        >
          <div class="blocks-container__item">
            <div class="blocks-container__item-buffer-outer">
              <div class="card">
                <div class="blocks-container__item-buffer-inner">
                  <div class="dimensional-container">
                    <div class="elementskit-info-box-icon  ">
                      <i class="ti-package"></i>
                  </div>
                  </div>
                  <h3>Extension</h3>
                  <p>
                    You already have an existing app and want to expand it? We are happy to help you with that as well.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="blocks-container__item">
            <div class="blocks-container__item-buffer-outer">
              <div class="card">
                <div class="blocks-container__item-buffer-inner">
                  <div class="dimensional-container">
                    <div class="elementskit-info-box-icon  ">
                      <i class="ti-pulse"></i>
                  </div>
                  </div>
                  <h3>Support & Maintenance</h3>
                  <p>
                    Even if the app is actually finished, there is usually still maintenance work to be done. Of course, we are happy to take care of that.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="blocks-container__item">
            <div class="blocks-container__item-buffer-outer">
              <div class="card">
                <div class="blocks-container__item-buffer-inner">
                  <div class="dimensional-container">
                    <div class="elementskit-info-box-icon  ">
                      <i class="ti-world"></i>
                  </div>
                  </div>
                  <h3>External assistance</h3>
                  <p>
                    You are already developing your own app, but have resource bottlenecks or simply need a fresh look? Get in touch with us!
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="spacer-50"></div>
        <div class="spacer-20"></div>
        <div class="spacer-10"></div>
      </div>
    </section>
  </div>
</div>
<div class="container">
  <div class="divider divider--lightgrey"></div>
</div>
<div class="serction our-works">
  <div class="container">
    <section>
      <div class="our-works__inner">
        <div class="spacer-50"></div>
        <div class="spacer-20"></div>
        <div class="spacer-10"></div>
        <h2 class="text-center h2--color">Portfolio</h2>
        <div class="spacer-20"></div>
        <div class="spacer-20"></div>
        <div class="gallery">
          <ul class="gallery__filter blocks-container blocks-container--nowrap blocks-container--3 clearfix">
              <li class="blocks-container__item">
                <a data-for="all" class="gallery__filter-link text-button" href="./">
                  All
                </a>
              </li>
              <li class="blocks-container__item">
                <a data-for="own" class="gallery__filter-link text-button" href="./gallery/own.html">
                  Own
                </a>
              </li>
              <li class="blocks-container__item">
                <a data-for="customer" class="gallery__filter-link text-button" href="./gallery/customer.html">
                  Customer
                </a>
              </li>
          </ul>
          <div class="gallery__mansorny blocks-container blocks-container--wrap blocks-container--3 clearfix">
            <div class="blocks-container__item gallery__mansorny-item" data-item="all customer">
              <div class="blocks-container__item-buffer-outer">
                <div class="our-works__card">
                  <img src="../assets/img/filter-customer_1.png" alt="Alt">
                </div>
              </div>
            </div>
            <div class="blocks-container__item gallery__mansorny-item" data-item="all own">
              <div class="blocks-container__item-buffer-outer">
                <div class="our-works__card ">
                  <img src="../assets/img/filter-own_1.png" alt="Alt">
                </div>
              </div>
            </div>
            <div class="blocks-container__item gallery__mansorny-item" data-item="all customer">
              <div class="blocks-container__item-buffer-outer">
                <div class="our-works__card">
                  <img src="../assets/img/filter-customer_2.png" alt="Alt">
                </div>
              </div>
            </div>
            <div class="blocks-container__item gallery__mansorny-item" data-item="all own">
              <div class="blocks-container__item-buffer-outer">
                <div class="our-works__card">
                  <img src="../assets/img/filter-own_2.png" alt="Alt">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="spacer-50"></div>
        <div class="spacer-20"></div>
        <div class="spacer-10"></div>
      </div>
    </section>
  </div>
</div>
<div class="container">
  <div class="divider divider--lightgrey"></div>
</div>
<div class="section our-customers">
  <div class="container">
    <section>
      <div class="our-customers__inner">
        <div class="spacer-50"></div>
        <div class="spacer-20"></div>
        <div class="spacer-10"></div>
        <h2 class="text-center h2--color">
          Our Clients
        </h2>
        <div class="spacer-20"></div>
        <div class="spacer-20"></div>
        <div class="slick-carousel">
          <div class="dimensional-container">
            <div class="our-customers__logo-outer">
              <div class="our-customers__logo">
                <img src="../assets/img/customer-logo_1.svg" width="96" height="28" alt="Alt">
              </div>
            </div>
          </div> 
          <div class="dimensional-container">
            <div class="our-customers__logo-outer">
              <div class="our-customers__logo">
                <img src="../assets/img/customer-logo_2.svg" width="128" height="38" alt="Alt">
              </div>
            </div>
          </div> 
          <div class="dimensional-container">
            <div class="our-customers__logo-outer">
              <div class="our-customers__logo">
                <img src="../assets/img/customer-logo_3.png" width="255" height="51" alt="Alt">
              </div>
            </div>
          </div>
          <div class="dimensional-container">
            <div class="our-customers__logo-outer">
              <div class="our-customers__logo">
                <img src="../assets/img/customer-logo_4.png" width="236" height="70" alt="Alt">
              </div>
            </div>
          </div>
          <div class="dimensional-container">
            <div class="our-customers__logo-outer">
              <div class="our-customers__logo">
                <img src="../assets/img/customer-logo_5.png" width="192" height="69" alt="Alt">
              </div>
            </div>
          </div>
          <div class="dimensional-container">
            <div class="our-customers__logo-outer">
              <div class="our-customers__logo">
                <img src="../assets/img/customer-logo_6.png" width="70" height="70" alt="Alt">
              </div>
            </div>
          </div>
          <div class="dimensional-container">
            <div class="our-customers__logo-outer">
              <div class="our-customers__logo">
                <img src="../assets/img/customer-logo_7.png" width="255" height="67" alt="Alt">
              </div>
            </div>
          </div> 
          <div class="dimensional-container">
            <div class="our-customers__logo-outer">
              <div class="our-customers__logo">
                <img src="../assets/img/customer-logo_8.png" width="70" height="70" alt="Alt">
              </div>
            </div>
          </div>  
        </div>
        <div class="spacer-50"></div>
        <div class="spacer-20"></div>
        <div class="spacer-10"></div>
      </div>
    </section>
  </div>
</div>
<div class="container">
  <div class="divider divider--lightgrey"></div>
</div>
<div class="section contact-us">
  <div class="container">
    <section>
      <div class="spacer-50"></div>
      <div class="spacer-20"></div>
      <div class="spacer-10"></div>
      <div class="contact-us__inner">
        <div class="blocks-container blocks-container--wrap blocks-container--2 clearfix">
          <div class="blocks-container__item">
            <div class="dimensional-container">
              <div class="contact-form">
                  <div class="blocks-container__item-buffer-outer">
                  <form method="POST">
                    <div class="contact-form__layout-container">
                      <div class="contact-form__buffer-container">
                        <label class="contact-form__label" for="user-name">
                          Name
                        </label>
                      </div>
                      <div class="contact-form__buffer-container">
                        <input class="contact-form__field" type="text" name="user-name" id="user-name" placeholder="Your Name" required>
                      </div>
                    </div>
                    <div class="blocks-container blocks-container--nowrap blocks-container--2 clearfix">
                      <div class="blocks-container__item">
                        <div class="contact-form__layout-container">
                          <div class="contact-form__buffer-container">
                            <label class="contact-form__label" for="user-email">
                              Email
                          </label>
                          </div>
                          <div class="contact-form__buffer-container">
                            <input class="contact-form__field" type="email" name="user-email" id="user-email" placeholder="Your Email" required>
                          </div>
                        </div>
                      </div>
                      <div class="blocks-container__item">
                        <div class="contact-form__layout-container">
                          <div class="contact-form__buffer-container">
                            <label class="contact-form__label" for="user-phone">
                                Telephone
                            </label>
                          </div>
                          <div class="contact-form__buffer-container">
                            <input class="contact-form__field" type="tel" name="user-phone" id="user-phone" placeholder="Your Phone" required>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="contact-form__layout-container">
                      <div class="contact-form__buffer-container">
                        <label class="contact-form__label" for="user-message">
                          Additional Details
                      </label>
                      </div>
                      <div class="contact-form__buffer-container">
                        <textarea class="contact-form__field" name="user-message" id="user-message" placeholder="Additional Details" required></textarea>
                      </div>
                    </div>
                    <div class="contact-form__buffer-container">
                      <button class="contact-form__submit primary-button" type="submit">Submit Request</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="blocks-container__item">
            <div class="blocks-container__item-buffer-outer">
              <div class="blocks-container__item-buffer-inner">
                <h2 class="h2 h2--color">
                  Let's Get In Touch
                </h2>
                <address>
                    <div class="blocks-container blocks-container--nowrap blocks-container--2 clearfix">
                    <div class="blocks-container__item">
                        <div class="address-block">
                        <h3 class="h4">
                            <i aria-hidden="true" class="elementkit-infobox-icon icon icon-map-marker1"></i>
                            <b>
                            Address
                            </b>
                        </h3>
                        <p>
                            Breslauer Allee 48, 31787 Hameln, Germany
                        </p>
                        </div>
                    </div>
                    <div class="blocks-container__item">
                      <div class="address-block">
                        <h3 class="h4">
                            <i aria-hidden="true" class="elementkit-infobox-icon icon icon-envelope2"></i>
                            <b>
                            Email
                            </b>
                        </h3>
                        <p>
                            Email: hello@zeemo.app
                        </p>
                      </div>
                    </div>
                    </div>
                </address>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>