.gallery {
    text-align: center;
}

.gallery__filter {
    display: inline-block;
    margin: 0 auto;
    list-style: none;
}

.gallery__filter-link {
    padding: 8px;
    cursor: pointer;
}

.gallery__filter .blocks-container__item {
    float: left;
    width: auto;
}

.gallery__mansorny {
    column-count: 2;
    gap: 0;
    padding: 4px;
}

.gallery__mansorny-item {
    padding: 4px;
}

.gallery__mansorny-item img {
    max-width: 100%;
    display: block;
}

.gallery__mansorny-item figure {
    margin: 0;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    break-inside: avoid;
    background-color: #000000;
}

.gallery__mansorny-item figure > img {
    z-index: 1;
    grid-row: 1 / -1;
    grid-column: 1/ -1;
    width: 100%;
    margin: 0 auto;
    transition: all 0.5s ease-in-out;
}


.gallery__mansorny-item figcaption {
    z-index: 2;
    display: none;
    opacity: 0;
    color: #FFFFFF;
    grid-row: 1 / -1;
    grid-column: 1/ -1;
    padding: .2em .5em;
    justify-self: center;
    align-self: center;
    transition: all 0.5s ease-in-out;
}

.gallery__mansorny-item figure:hover img {
    opacity: 0.7;
}

.gallery__mansorny-item figure:hover figcaption {
    display: block;
    opacity: 1;
}

.test {
    animation-name: test;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    animation-duration: 2s;
}

@keyframes test {
    from {
        width: 100%;
    }

    to {
        width: 0%;
    }
}