/* Just for demo. */
.demo-block-1 {
    background-color: #FF7373;
}

.demo-block-2 {
    background-color: #FFB273;
}

.demo-block-3 {
    background-color: #5CCCCC;
}

.demo-block-4 {
    background-color: #67E667;
}

/* Animation styles. */

body {
    overflow-x: hidden;
}

.animation-supported .animation-target.block-slide {
    position: relative;
    opacity: 0;
}

.animated.block-slide.animated--bottom {
    animation-duration: 2s;
    animation-delay: 2s;
    animation-name: slideBottom, appear;
    animation-fill-mode: forwards;
}

.animated.block-slide.animated--left {
    animation-duration: 2s;
    animation-delay: 2s;
    animation-name: slideLeft, appear;
    animation-fill-mode: forwards;
}

.animated.block-slide.animated--right {
    animation-duration: 2s;
    animation-delay: 2s;
    animation-name: slideRight, appear;
    animation-fill-mode: forwards;
}

.animated.block-slide.animated--top {
    animation-duration: 2s;
    animation-delay: 2s;
    animation-name: slideTop, appear;
    animation-fill-mode: forwards;
}

.scrolled.animation-target.block-slide {
    position: static;
    opacity: 1;
    animation-name: none;
}

@keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideTop {
    from {
        top: 100vh;
    }

    to {
        top: 0;
    }
}

@keyframes slideLeft {
    from {
        left: 100vw;
    }

    to {
        left: 0;
    }
}

@keyframes slideRight {
    from {
        right: 100vw;
    }

    to {
        right: 0;

    }
}

@keyframes slideBottom {
    from {
        bottom: 100vh;
    }

    to {
        bottom: 0;
    }
}