.contact-form__buffer-container {
    padding: 8px;
}

.contact-form,
.contact-form input,
.contact-form textarea {
    font-family: "Poppins", "Arial", sans-serif;
}

.contact-form input,
.contact-form label,
.contact-form textarea {
    display: block;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
  }