---
  title: We make apps!
  layout: layouts/index.njk
---


<div class="section hero page-secondary page-about">
  <section>
    <div class="hero__inner">
      <div class="hero__content">
        <h1 class="text-white">
          About Us
        </h1>
        <div class="breadcrumb">
          <nav aria-label="Breadcrumb">
            <ol class="breadcrumb__list clearfix">
              <li class="breadcrumb__item">
                <a class="breadcrumb__link nav-link" href="./">
                  Home
                </a>
              </li>
              <!-- TODO: Is the href attribute necessary for the last link? -->
              <li class="breadcrumb__item">
                <span class="elementor-icon-list-icon ">
                  <i aria-hidden="true" class="fas fa-chevron-right"></i>
                </span>
                <a class="breadcrumb__link nav-link" href="./about.html" aria-current="page">
                  About
                </a>
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>
</div>
<div class="section about-us">
  <div class="container">
    <section>
      <div class="about-us__inner">
        <div class="spacer-50"></div>
        <div class="spacer-20"></div>
        <div class="spacer-20"></div>
        <h2 class="text-center h2--color subtitle">About Us</h2>
        <div class="spacer-20"></div>
        <div class="spacer-20"></div>
        <div
          class="
            blocks-container
            blocks-container--wrap
            blocks-container--3
            clearfix
          "
        >
          <div class="blocks-container__item">
            <div class="blocks-container__item-buffer-outer">
              <div class="card">
                <div class="blocks-container__item-buffer-inner">
                  <div class="dimensional-container">
                    <div class="elementskit-info-box-icon  ">
                      <i class="ti-heart"></i>
                    </div>
                  </div>
                  <h3>Passion</h3>
                  <p>
                    We create apps because we love it, not just because we can.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="blocks-container__item">
            <div class="blocks-container__item-buffer-outer">
              <div class="card">
                <div class="blocks-container__item-buffer-inner">
                  <div class="dimensional-container">
                    <div class="elementskit-info-box-icon  ">
                      <i class="ti-thought"></i>
                  </div>
                  </div>
                  <h3>Solutions</h3>
                  <p>
                    We create solutions that move your business forward. An app should simplify the lives of your employees and/or customers, not complicate them.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="blocks-container__item">
            <div class="blocks-container__item-buffer-outer">
              <div class="card">
                <div class="blocks-container__item-buffer-inner">
                  <div class="dimensional-container">
                    <div class="elementskit-info-box-icon  ">
                      <i class="ti-cup"></i>
                  </div>
                  </div>
                  <h3>Experience</h3>
                  <p>
                    Since 2011 we have been working for various customers at home and abroad. From small startups to international corporations.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="spacer-50"></div>
        <div class="spacer-20"></div>
        <div class="spacer-10"></div>
      </div>
    </section>
  </div>
</div>