<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{ title }}</title>
    	<!--Favicon-->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.url }}/assets/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.url }}/assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ site.url }}/assets/img/favicon/favicon-16x16.png">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        <!-- Menu -->
    <link rel="stylesheet" href="{{ site.url }}/assets/css/typography.css" />
    <link rel="stylesheet" href="{{ site.url }}/assets/css/icon.css" />
    <link rel="stylesheet" href="{{ site.url }}/assets/css/themify-icons.css" />
    <link rel="stylesheet" href="{{ site.url }}/assets/css/components/menu.css" />
    <link rel="stylesheet" href="{{ site.url }}/assets/css/components/blocks.css" />
    <link rel="stylesheet" href="{{ site.url }}/assets/css/components/gallery.css" />
    <link rel="stylesheet" href="{{ site.url }}/assets/css/components/contact.css" />
    <link rel="stylesheet" href="{{ site.url }}/assets/css/components/breadcrumb.css" />
    <!-- slick-slider -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    
    <!-- Config -->
    {# <link rel="stylesheet" href="{{ site.url }}/assets/css/config.css"> #}

    <!-- Menu -->
    <link rel="stylesheet" href="{{ site.url }}/assets/css/menu/ie5.css">
    <link rel="stylesheet" href="{{ site.url }}/assets/css/menu/ie7.css">
    <!--[if IE 5]>
    <link rel="stylesheet" href="{{ site.url }}/assets/css/menu/ie5fix.css">
    <![endif]-->
    <link rel="stylesheet" href="{{ site.url }}/assets/css/menu/ie8.css">
    <link rel="stylesheet" href="{{ site.url }}/assets/css/menu/mobile.css">
    <link rel="stylesheet" href="{{ site.url }}/assets/css/menu/flex.css">

    <!-- Blocks -->
    <link rel="stylesheet" href="{{ site.url }}/assets/css/blocks/ie5.css">
    <!--[if IE 5]>
        <link rel="stylesheet" href="{{ site.url }}/assets/css/blocks/ie5fix.css">
    <![endif]-->
    <link rel="stylesheet" href="{{ site.url }}/assets/css/blocks/ie7.css">
    <link rel="stylesheet" href="{{ site.url }}/assets/css/blocks/media.css">
    <link rel="stylesheet" href="{{ site.url }}/assets/css/blocks/flex.css">

    <link rel="stylesheet" href="{{ site.url }}/assets/css/buttons.css" />
    <link rel="stylesheet" href="{{ site.url }}/assets/css/spacers.css" />
    <link rel="stylesheet" href="{{ site.url }}/assets/css/style.css" />

<script>
    var html = document.getElementsByTagName('html');
    if(html.length) {
    html[0].className += html[0].className ? " js" : "js";
    }
</script>
</head>