<div class="header">
    <header>
    <div class="header__container container">
        <div class="header__logo logo" role="banner">
        <a href="/">
            <img src="./../assets/img/menu/logo.png" alt="softevol" width="86" height="20">
        </a>
        </div>
        <div class="header__main-menu-burger burger"></div>
        <div class="header__main-menu-container" id="main-menu-container">
        <nav aria-label="softevol main menu">
            <div class="main-menu__button-container">
            </div>
            <ul class="main-menu" role="menubar" aria-label="softevol main menu">
            {% for link, href in menu %}
                <li class="main-menu__item" role="none">
                    <a class="main-menu__link" href="{{ href }}">{{ link | i18n }}</a>
                </li>
            {% endfor %}
            </ul>
        </nav>
        </div>
        <ul class="header__social-links social-links"> <!-- FIXME nameing maybe container? -->
        <li class="social-links__item">
            <a class="social-links__link" href="#" aria-label="Contact us in Telegram"> <!-- TODO add aria-label to all -->
            <img src="./../assets/img/menu/telegram.png" alt="Telegram" width="20" height="20">
            </a>
        </li>
        <li class="social-links__item">
            <a class="social-links__link" href="#" aria-label="Contact us in Skype">
            <img src="./../assets/img/menu/skype.png" alt="Skype" width="20" height="20">
            </a>
        </li>
        </ul>
    </div>
    </header>
</div>