{# Is this ludicrous or crafty? #}
{% set pageUrl = page.url.split('/').slice(2).join('/') %}

{% if locales.length %}
  <ul>
    {% for locale in locales -%}
      <li><a href="/{{ locale.code }}/{{ pageUrl }}" rel="alternate" hreflang="{{ locale.code }}">{{ locale.label }}</a></li>
    {% endfor -%}
  </ul>
  {# <select id="select-language">
    {% for locale in locales -%}
          <option value="/{{ locale.code }}/{{ pageUrl }}" rel="alternate" hreflang="{{ locale.code }}">{{ locale.label }}</option>
    {% endfor -%}
  </select> #}
{% endif %}