    <!-- slick-slider -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <!-- components -->

    <script src="{{ site.url }}/assets/js/menu/class-function.js"></script>
    <script src="{{ site.url }}/assets/js/menu/window-width.js"></script>
    <script src="{{ site.url }}/assets/js/menu/is-media-queries-supported.js"></script>
    <script src="{{ site.url }}/assets/js/menu/support-css.js"></script>
    <script src="{{ site.url }}/assets/js/menu/keycodes.js"></script>
    <script src="{{ site.url }}/assets/js/menu/mobile.js"></script>
    <script src="{{ site.url }}/assets/js/menu/anchor-links.js"></script>
    <script src="{{ site.url }}/assets/js/menu/close-dropdown-main-menu.js"></script>
    <script src="{{ site.url }}/assets/js/menu/empty-space-click.js"></script>
    <script src="{{ site.url }}/assets/js/menu/keyboard-support.js"></script>
    <script src="{{ site.url }}/assets/js/filter/filter.js"></script>
    <script src="{{ site.url }}/assets/js/init/init.js"></script>
